@import '/src/styles/mixins/flex';
@import '/src/styles/mixins/typography';

.card {
  @include flex-center-column(0.5rem);

  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px var(--black-light);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.poster {
  height: 360px;
  aspect-ratio: 7 / 10;
  object-fit: contain;
}

.year,
.genres,
.link {
  @include bold-text;
}

.link {
  color: var(--blue);
  text-decoration: none;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: var(--dark-blue);
  }
}

.title {
  @include bold-text(1.5rem);
}
