@import '/src/styles/mixins/flex';
@import '/src/styles/mixins/typography';
@import '/src/styles/mixins/box';

.header {
  @include flex-center-vert;

  justify-content: space-between;
  padding: 1rem 0.5rem;
  background-color: var(--orange);
}

.logo {
  height: 3rem;

  img {
    @include box(100%);
  }
}

.title {
  @include bold-text(1.5rem);

  color: var(--black);
  transition: color 0.3s ease-in-out;

  &:hover {
    color: var(--white);
  }
}

.link {
  text-decoration: none;
}
