.header {
  display: flex;
  padding: 2rem 0;
  background-color: var(--light-green);
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 3rem;
  img {
    width: 100%;
    height: 100%;
  }
}
