@use '/src/styles/variables' as v;
@import '/src/styles/mixins/flex';
@import '/src/styles/mixins/z-index';

.content {
  @include flex-column(0.5rem);
  @include z-index(modal);

  position: fixed;
  top: 5%;
  left: 50%;
  width: 75%;
  max-height: 80vh;
  align-items: center;
  border-radius: 6px;
  background-color: var(--dark-grey);
  box-shadow:
    0 4px 6px -2px rgb(0 0 0 / 5%),
    0 10px 15px -3px rgb(0 0 0 / 10%);
  opacity: 1;
  overflow-y: scroll;
  transform: translateX(-50%);
}

.header {
  @include flex-center;

  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid var(--white);
  color: var(--white);

  h2 {
    margin: 0;
    font-weight: v.$semibold-weight;
  }
}

.body {
  @include flex-center-vert;

  flex: 1;
  padding: 1rem;
  color: var(--black);
}

.footer {
  @include flex-center-horiz(1rem);

  width: 100%;
  padding: 1rem;
  border-top: 1px solid var(--white);
}
