@import '/src/styles/mixins/flex';
@import '/src/styles/mixins/typography';

.movie-list {
  display: grid;
  margin-bottom: 3rem;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

.movie-list-page {
  padding: 1rem;

  .title-container {
    @include flex-center(1rem);

    margin-bottom: 2rem;
  }

  .title {
    @include bold-text(2rem);
  }

  .favorite-switcher {
    @include flex-center(0.5rem);
  }
}
