$black-light: rgba(0, 0, 0, 0.4);
$dark-yellow: #717148;
$grey: grey;
$white: #f0f0f0;
$perfect-white: #fff;
$blue: #2196f3;
$red: red;
$brown: brown;
$green-valid: aquamarine;
$green: #85cdca;
$light-purple: hsl(242, 61%, 76%);
$purple: hsl(242, 61%, 71%);
$light-green: #65c45d;
$black: black;
