@import '/src/styles/mixins/typography';
@import '/src/styles/mixins/box';

.button {
  @include box(207px, 36px);
  @include regular-text;

  padding: 0.6rem 1.2rem;
  border: 1px solid transparent;
  border-radius: 8px;
  background: var(--perfect-white);
  box-shadow:
    0 3px 5px rgb(0 0 0 / 40%),
    0 1px 18px rgb(0 0 0 / 24%),
    0 6px 10px rgb(0 0 0 / 28%);
  color: var(--blue);
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: var(--blue);
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}
