@import '/src/styles/mixins/flex';
@import '/src/styles/mixins/typography';
@import '/src/styles/mixins/box';
@import '/src/styles/mixins/mq';

.info {
  @include mq('tablet', min) {
    @include flex-column(1.5rem);

    max-width: 50%;
  }

  width: 100%;
  padding: 1rem;
}

.title {
  @include flex-center(0.5rem);
  @include bold-text(1.5rem);

  cursor: pointer;
}

.description {
  @include regular-text;
}

.poster {
  max-width: 100%;
  height: 360px;
}

.row {
  @include flex-center-vert;

  justify-content: space-between;
}

.year,
.genres,
.duration,
.countries,
.premiere {
  @include bold-text;

  @include mq('tablet', max) {
    font-size: 0.75rem;
  }

  text-align: end;
}

.favorite-button {
  @include flex-center;
  @include box(40px);

  border: 1px solid var(--grey);
  border-radius: 50%;
  background-color: var(--perfect-white);
  cursor: pointer;
  transition: color 0.3s ease-in-out;

  &:hover {
    background-color: var(--white);
  }
}

.favorite-icon {
  color: var(--orange);
}

.wait-for-premiere {
  @include bold-text(1.5rem);

  margin: 0;
  color: var(--orange);
  text-align: center;
}
