@mixin flex-center($gap: null) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $gap;
}

@mixin flex-center-column($gap: null) {
  @include flex-center($gap);

  flex-direction: column;
}

@mixin flex-column($gap: null) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin flex-center-vert($gap: null) {
  display: flex;
  align-items: center;
  gap: $gap;
}

@mixin flex-center-horiz($gap: null) {
  display: flex;
  justify-content: center;
  gap: $gap;
}
